*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    
        background: url(images/360_F_35631.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width:100%;
        height:100%;
        
        /* background: linear-gradient(90deg, rgb(120, 148, 249) 0%,rgb(146, 233, 224) 60%); */
}
#display{
    width:500px;
    height:100px;
    position: absolute;
    bottom:10%;
    background-color: blanchedalmond;
    border-radius: 10px;
    color: black;
    padding:30px 10px;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.msg{
  animation:  0.5s msg linear;
  transition: 0.2s linear 1s; 

}




.container{
    display:flex;
    align-items: center;
    justify-content: center;
  
    height:100vh;
}
.card-body{
    background: -webkit-repeating-linear-gradient(orange,white,green);
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    width:50%;
}

.card-body h1{
    margin-bottom :30px;
    font-size: 70px;
}

.card-button button{
    color:black;
    padding: 20px 40px;
    border :0;
    font-size: 18px;
    font-weight: bold;
    margin : 10px 15px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;

}

button#decre{
    background-color: rgb(226, 151, 46);
}

button#decre:hover{
    background-color: bisque;
    color:rgb(196, 28, 28);
}

button#reset{
    background-color: rgb(252, 255, 254);
}
button#reset:hover{
    background-color: rgb(240, 235, 230);
    color:black;
}

button#incre{
    background-color: rgb(77, 195, 22);
}
button#incre:hover{
    background-color: rgb(27, 238, 8);
    color:black;
}